html,body,section{
	height: 100%;
}
.slider{
	background-color: #6B9BBB;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #aaaaaa;
	color: #000000;
	opacity: 0.95;
}
.slider-user{
	width: 250px;
	height: 250px;
	position: relative;
	left: 50%;
	margin-left: -125px;
	margin-bottom: 80px;
}
.slider-user .user-icon{
	width: 100%;
	height: 100%;
	background-color: #000000;
	margin-top: 80px;
	border-radius: 50%;
}
.slider-user .user-icon span{
	display: block;
	text-align: center;
	font-size: 160px;
	line-height: 250px;
	color: #6B9BBB;
}
.slider-user .user-text{
	width: 100%;
	height: 80px;
	padding: 10px 30px;
	text-align: center;
	color: #000000;
	font-size: 35px;
	font-family: "微软雅黑",arial;
}
.slider-nav nav{
	padding-top: 20px;
}
.slider-nav nav ul li{
	list-style: none;
	display: block;
	width: 250px;
	height: 80px;
	padding: 10px 10px;
	color: #000000;
	font-size: 30px;
	line-height: 30px;
	font-family: "微软雅黑",arial;
}
.slider-nav nav ul li:hover{
	cursor: pointer;
	transform: scale(1.1,1.1);
	transition: transform 1s ease-in-out;
	-moz-transition:transform 1s ease-in-out;
	-webkit-transition: transform 1s ease-in-out;
	-o-transition: transform 1s ease-in-out;
}
 .nav-btn .nav-btn-text{
	text-align: center;
 }

.contain{
	background-color: #F8F8F8;
	color: #000000;
	font-family: "微软雅黑",arial;
}
.works-show{
	box-sizing: border-box;
	width: 100%;
	padding: 30px 50px;
	padding-bottom: 10px;
	height: 350px;
}
.works-show .works-breadcrumb{
	height: 40px;
	font-size: 30px;
	line-height: 30px;
}
.works-breadcrumb .breadcrumb-h1{
	padding-right: 16px;
}
.works-breadcrumb .breadcrumb-h2{
	padding-left: 14px;
	font-size: 24px;
	line-height: 24px;
}
.works-show .works-image{
	width: 300px;
	height: 238px;
	position: relative;
	left: 50%;
	top: 20px;
	margin-left: -150px;
	padding: 6px;
	border: 2px dashed #CCC;
}
.works-image img{
	width: 100%;
	border-radius: 4px;
	box-shadow: 1px 1px 1px #aaaaaa;
	opacity: 0.95;
}
.works-details{
	box-sizing: border-box;
	width: 100%;
	padding: 10px 50px;
	height: 550px;
}
.detail-story{
	box-sizing: border-box;
	margin-right: 20px;
	font-size: 24px;
	line-height: 24px; 
	padding: 10px;
	color: #000;
}
.detail-story label{
	padding-bottom: 10px;
}
.detail-story textarea{
	margin-left: 15px;
}
.detail-time{
	box-sizing: border-box;
	font-size: 20px;
	line-height: 20px; 
	padding-top: 20px;
}
.detail-time label{
	padding-left: 40px;
}

/*index1*/
.works-search{
	box-sizing: border-box;
	width: 100%;
	padding: 30px 50px;
	height: 220px;
}
.show-search{
	box-sizing: border-box;
	opacity: 0.8;
	background-color: #D0E4E2;
	height: 100px;
	margin-top: 50px;
	border-radius: 50px;	
	position: relative;
}
.show-search .search-input{
	z-index: 10;
	width: 110%;
	position: relative;
	left: 50%;
	margin-left: -55%;
	font-size: 40px;	
	height: 100px;
	line-height: 100px;
	background-color: #D0E4E2;
	border-radius: 50px;
	border-color: #D0E4E2;
	color: #FFF;
	padding: 0px 50px;
}
.show-search span{
	z-index: 11;
	position: absolute;
	font-size: 40px;
	line-height: 100px;
	right: 10px;
}
.search-details{
	box-sizing: border-box;
	width: 100%;
	padding: 0px 50px;
	height: 550px;
	border-top: 10px solid #317FBC ;
	border-radius: 10px;
}
.btn-trash{
	font-size: 20px;
	line-height: 20px;
}
.check-header{
	padding-bottom: 20px;
}
.check-text{
	padding: 15px 20px;
	font-size: 20px;
	line-height: 20px;
}
.check-text input{
	border: 2px solid #000;
	margin-right: 15px;
}
.check-text .upload{
	padding: 3px 0;
}
.btn-check{
	padding-top: 80px;
}
.btn-check button{
	font-size: 30px;
	line-height: 30px;
	height: 50px;
	padding: 10px;
	border-radius: 14px;
}
.primary{
	background-color: rgba(51,122,183,0.8);
}